<template>
<div class="col-sm-12">

	
   <table id="example4" class="table table-bordered table-striped dataTable no-footer" role="grid" aria-describedby="example4_info" style="width: 1057px;">
      <thead>
         <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 63px;" aria-sort="ascending" aria-label="id: activate to sort column descending">id</th>
            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 115px;" aria-label="Name: activate to sort column ascending">Name</th>
            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 209px;" aria-label="Email: activate to sort column ascending">Company</th>
            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 153px;" aria-label="Phone: activate to sort column ascending">website</th>
            <th class="sorting" tabindex="0" aria-controls="example4" rowspan="1" colspan="1" style="width: 170px;" aria-label="Start Date: activate to sort column ascending">Address</th>
            <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 108px;" aria-label=" Action "> Action </th>
         </tr>
      </thead>
      <tbody>
        <tr v-for="post in posts" :key="post.id">
                    <td>{{ post.id }}</td>
                    <td>{{ post.name }}</td>
                    <td>{{ post.website }}</td>
                    <td>{{ post.address }}</td>
                    <td><router-link :to="{name: 'edit', params: { id: post.id }}" class="btn btn-primary">Edit</router-link></td>
                   <td><button class="btn btn-danger" @click.prevent="deletePost(post.id)">Delete</button></td>
                </tr>
      </tbody>
   </table>
   <div id="example4_processing" class="dataTables_processing card" style="display: none;">Processing...</div>
</div>

</template>

<script type="text/javascript">
	
	 export default {
      data() {
        return {
          posts: []
        }
      },
      created() {
      let uri = 'http://localhost:8082/api/index';
      this.axios.get(uri).then(response => {
      	console.log(response);
        this.posts = response.data;
      });
    },
    methods: {
      deletePost(id)
      {
        let uri = `http://localhost:8082/api/delete/${id}`;
        this.axios.get(uri).then(response => {
          this.posts.splice(this.posts.indexOf(id), 1);
        });
      }
    }
  }
</script>