
<template>


<div class="panel panel-default">
    <div class="panel-heading">Create new company</div>
    <div class="panel-body">
            <form @submit.prevent="addPost">

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Company name</label>
                    <input type="text" v-model="post.name" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Company address</label>
                    <input type="text" v-model="post.address" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Company website</label>
                    <input type="text" v-model="post.website" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Company email</label>
                    <input type="text" v-model="post.email" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
</template>

<script>
    export default {
        data: function () {
            return {
                    post:{}
            }
        },
        methods: {
            addPost(){
           let uri = 'http://localhost:8082/api/save';
           this.axios.post(uri, this.post).then((response) => {
           	console.log(this.$router); return false;
           this.$router.push({name: 'post'});
    });
}
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
