<template>
	<div id="app">
		<page-header />
			<side-bar />
			<div class="content-wrapper">
		
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard v1</li>
            </ol>
          </div>
        </div>
      </div>
      <dash-board />
      <router-view/>
    </div>
		
		
	</div>
</template>

<script>
import PageHeader from '@/layouts/HeaderComponent.vue'
import SideBar from '@/layouts/SidebarComponent.vue'
import DashBoard from '@/layouts/DashboardComponent.vue'
export default {
	name: 'App',
	components: {
		PageHeader,
    SideBar,
    DashBoard
		
	}
}
</script>

<style>
#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
	margin-top: 60px;
}
</style>
